Package: bliss-zfs-2.0-5.10.0-16
Maintainer: Mason Loring Bliss <mason@blisses.org>
Version: 2022090200
Architecture: all
Depends: linux-image-amd64,
 linux-image-5.10.0-16-amd64,
 kmod-zfs-5.10.0-16-amd64 (= 2.0.7-1),
 zfs,
 zfs-initramfs,
 libnvpair3,
 libuutil3,
 libzfs4,
 libzpool4,
 python3-pyzfs
Description: Blisses ZFS packaging for 5.10.0-16.
