Package: bliss-zfs-2.1-5.10.0-17
Maintainer: Mason Loring Bliss <mason@blisses.org>
Version: 2022090201
Architecture: all
Depends: linux-image-amd64,
 linux-image-5.10.0-17-amd64,
 kmod-zfs-5.10.0-17-amd64 (= 2.1.5-1),
 zfs (= 2.1.5-1),
 zfs-initramfs (= 2.1.5-1),
 libnvpair3 (= 2.1.5-1),
 libuutil3 (= 2.1.5-1),
 libzfs5 (= 2.1.5-1),
 libzpool5 (= 2.1.5-1),
 python3-pyzfs (= 2.1.5-1)
Conflicts: libzfs4, libzpool4
Description: Blisses ZFS packaging for 5.10.0-17.
